@model RSL.CodeChallenge.Models.LastestResultsView

<div class="row">
    <h2 class="mt-5 mb-5">Lastest Results</h2>
</div>

<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><h4>Product Display Name</h4></th>
                    <th scope="col"><h4>Draw Date</h4></th>
                    <th scope="col"><h4>Draw Number</h4></th>
                    <th scope="col"><h4>Jackpot Value</h4></th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || !Model.Results.Any())
                {
                    <tr>
                        <th colspan="4" class="text-center">No Result</th>
                    </tr>
                }
                else
                {
                    foreach (var result in Model.Results)
                    {
                        var jackpot = result.Dividends.SingleOrDefault(d => d.Division == 1);

                        <tr>
                            <th scope="row">@Html.DisplayFor(x => result.DrawDisplayName)</th>
                            <td>@Html.DisplayFor(x => result.DrawDate)</td>
                            <td>@Html.DisplayFor(x => result.DrawNumber)</td>
                            <td>@Html.DisplayFor(x => jackpot.BlocDividend)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
